<h2>Update Product Form</h2>

<form action="" #addForm="ngForm" (ngSubmit)="update(addForm)">

  <label for="title">Title</label>
  <input type="text" name="title" id="title" [(ngModel)]="product.title"
    required minlength="4"
    #title="ngModel">
  <br>
  <span *ngIf="title.invalid && title.touched && title.errors?.['required']"
    style="color: red;">Title is
    required</span>
  <span *ngIf="title.invalid && title.touched && title.errors?.['minlength']"
    style="color: red;">Title needs at least 4 caracters</span><br>

  <label for="price">Price</label>
  <input type="text" name="price" id="price" [(ngModel)]="product.price">
  <br>

  <label for="qt">Quantiy</label>
  <input type="number" name="qt" id="qt" [(ngModel)]="product.quantity">
  <br>
  <br>

  <input type="submit" value="Update">

</form>
